.MuiPickersToolbar-toolbar{
    background-color: rgb(27,36,48) !important;
}
.MuiPickersClockPointer-pointer{
    background-color: rgb(27,36,48) !important;
}
.MuiPickersClockPointer-thumb{
    border-color: rgb(27,36,48) !important;
}
.MuiPickersClockPointer-noPoint{
    background-color: rgb(27,36,48) !important;
}