@media (min-width: 1336px) {
    #navbar {
        display: none;
    }
}

@media (max-width: 1336px){
    #miniDrawer {
        display: none;
    }
}

/* @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation:landscape) 
{
    #miniDrawer {
        display: none;
    }
}
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation:portrait) 
{
    #miniDrawer {
        display: none;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
{
    #miniDrawer {
        display: none;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) 
{ #miniDrawer {
    display: none;
}}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { #miniDrawer {
    display: none;
}}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { #miniDrawer {
    display: none;
} } */

html, body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(27,36,48); */
}