@media (min-width: 1336px) {
    #toggleDrawer{
      display:none ;
    }
    #burgerIcon{
        display:none ;
    }
  }
  @media (max-width:  1336px) {
    #navitem{
      display: none;
    }    
  }
.MuiDrawer-paperAnchorLeft{
        background: rgb(27,36,48) !important;
    }

    
